* {
  font-family: "Poppins";
  text-decoration: none !important;
}

/*header section start*/
header {
  width: 100%;
  box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
}
/*menu bar*/
.toggle {
  display: none;
}
.nav1 {
  width: 90%;
  margin: 0px auto 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menulist {
  width: 60%;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0px auto 3px;
}
.menulist li {
  list-style: none;
}
.menulist a {
  padding: 4px 10px;
  font-size: 10px;
  text-decoration: none;
  color: #000000;
}
.menulist a:hover {
  color: #fff;
  background: linear-gradient(135deg, #6272ff, #ad30e0);
  border-radius: 30px;
}
.menu button {
  background: #ffffff;
  margin: 5px 0;
  width: 80px;
  font-size: 8px;
  font-weight: 500;
  text-align: center;
  border-radius: 28px;
  box-shadow: 0 0 3px;
}
.menu button:hover {
  color: white;
  background: linear-gradient(135deg, #6272ff, #ad30e0);
  border-image: none;
  border: none;
}

/*media query*/
@media only screen and (max-width: 576px) {
  /*nav bar*/
  .nav1 {
    flex-direction: column;
    align-items: start;
  }
  .menulist {
    display: none;
    padding: 20px 40px;
    margin-left: -40px;
  }
  .menulist a:hover {
    color: #fff;
    background: linear-gradient(135deg, #6272ff, #ad30e0);
    border-radius: 30px;
  }

  .menu button{
    display: none;
  }
  /*menu bar icon*/
  .toggle{
    display: block;
  }
  #bar {
    font-size: 20px;
    display: block;
    position: absolute;
    top: 12px;
    right: 20px;
  }
  #mark {
    font-size: 20px;
    display: none;
    position: absolute;
    top: 12px;
    right: 20px;
  }
}
