* {
  font-family: "Poppins";
  text-decoration: none !important;
}


/*hero section start*/
.hero {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 80px auto;
}
/*hero-1*/
.hero-1 {
  margin: 0 auto;
}
/*animation*/
.hero-1 h2 span{
  background: linear-gradient(90deg,#144deb,#c00de0);
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 0%;
}

.hero-1 h2 span:first-child{
  animation: textColor 3s infinite linear alternate;
}

.hero-1 h2 span:last-child{
  animation: textColor2 3s infinite linear alternate;
}


@keyframes textColor{
  0%{
    background-size: 0%;
  }
  40%{
    background-size: 100%;
  }
  100%{
    background-size: 100%;
  }
}
@keyframes textColor2{
  0%{
    background-size: 0%;
  }
  40%{
    background-size: 0%;
  }
  100%{
    background-size: 100%;
  }
}


.hero-1 p {
  font-size: 10px;
  margin-top: 35px;
}
.hero-1 button {
  width: 80px;
  padding: 5px;
  border-radius:  30px;
  text-align: center;
  font-size: 10px;
  border: none;
  box-shadow: 0px 0px 2px;
  margin-top: 5px;
}
.hero-1 button:hover {
  background: linear-gradient(to right, #6272ff, #ad30e0);
  color: #ffffff;
}

/*hero-2*/
.hero-2 {
  margin: 0 auto;
}
.hero-2 img {
  margin: -40px -10px;
  filter: drop-shadow(0px 4px 4px gray)
}
/*hero section end*/

/*details */
section h2 {
 text-align: center;
}
.details {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  text-align: center;
}
.details h3 {
  font-size: 12px;
}
.details p {
  font-size: 10px;
}
.details i {
  color: #ad30e0;
}


