*{
    text-decoration: none;
    list-style: none;
    font-family: "Poppins",sans-serif;
}

/*service style start*/
.service{
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service h2{
    font-size: 18px;
}
.service p{
    margin-top: 16px;
    font-size: 8.9px;
    text-align: center;
}
/*animation*/
.service h2{
    background: linear-gradient(90deg,#6272FF,#c00de0);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0%;
    font-size: 20px;
    animation:service 3s linear infinite alternate  ;
    font-weight: bold;
}
@keyframes service {
    0%{
        background-size: 0%;
    }
    40%{
        background-size: 40%;
    }
    100%{
        background-size: 100%;
    }
}
/*all buttons*/
 .btns{
    width: 80px;
    padding: 5px;
    font-size:10px ;
    text-align: center;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 2px;
    background: #ffffff;
}
.btns:hover{
    color: white;
    background: linear-gradient(135deg,#6272FF,#c00de0);
}

/*service style end*/


/*our service */
.our-service{
    width: 90%;
    margin: 0 auto;
    
}
.our-service h1{
    text-align: center;
    font-size: 20px;
}


/* service card parent element*/
.our-service-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    margin-top: 30px;

}
/*service card*/
.service-card{
    height: 250px;
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
/*icon*/
.service-card i{
    color: #c00de0;
}

/*all service card h2 tag*/
.service-card h2{
 font-size: 12px;
 display: flex;
 gap:5px;
 align-items: center;
 margin-top: 10px;
}
/*all service card p tag*/
.service-card p{
    margin-top:10px;
    font-size: 8px;
    text-align: center;
   padding: 0px 10px;
}
/*card image*/
.service-card img{
     border-radius: 5px;
     width: 200px;
     height: 100px;
     scale: 1;
     rotate: 0deg;
     transition: all 0.5s  ;
}
.service-card img:hover{
    scale: .05;
    rotate: 180deg;
}
/*service card button*/
.service-card .btns{
    margin-bottom: 10px;
    margin-right: 20px;
}
/* all services button hover effect*/
.service-card .btns:hover{
    color:white;
    background:linear-gradient(135deg,#6272FF,#c00de0)
}
/*get started*/
.get-started{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin: 30px auto;

}
.get-started h2{
    font-size: 15px;
}
.get-started p{
    font-size: 8px;
    text-align: center;
}