
*{
  font-family: 'Poppins';
}

/*header section start*/
header{
  width: 100%;
  box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2) 
}
.nav1{
  width: 85%;
  margin: 5px auto 0px;
  display: flex;
  justify-content: space-evenly;
}
.nav a{
  text-align:center;
}

.menulist{
  width: 60%;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin:  10px  auto;
}
.menulist li{
  list-style: none;
}
.menulist a{
  font-size: 12px;
  text-decoration: none;
  color: black;
}
.call button{
  background: #ffffff;
  margin: 5px 0;
 width:110px;
 height: 30px;
 font-size: 10px;
 text-align: center;
 border-image: linear-gradient(to right, #6272ff, #ad30e0);
 border-image-slice: 1;
 border-radius: 5px;

}
.call button:hover{
  color: white;
  background:linear-gradient(135deg,#6272ff,#ad30e0);
  border-image: none;
  border: none;
}
/*header section end*/

/*hero section start*/
.hero{
  display: flex;
  width: 85%;
  justify-content: center;
  margin: 80px auto;
}
.hero-1{
  margin: 0 auto;
}
 .vm{
  background: linear-gradient(60deg,#6272ff,#ad30e0);
  color:transparent;
  background-clip: text;
 -webkit-background-clip: text;
 margin-top: -21px;
}
.hero-1 p{
  font-size: 10px;
  margin-bottom: 15px;
}
.hero-1 .button{
  width: 120px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
background:linear-gradient(#ffffff 0 0) padding-box, 
linear-gradient(to right,#6272ff,#ad30e0);
  box-shadow: 0px 0px 4px ;
}
.hero-1 .button:hover{
  background: linear-gradient(to right,#6272ff,#ad30e0);
  color: #ffffff;
  
  /* border: none; */
}

.hero-2{ 
  margin: 0 auto ;
}
.hero-2 img{
  margin: -40px -10px;
  filter: drop-shadow(0px 4px 4px gray  );
}


/*details start*/
section h2{
  display: flex;
  justify-content: center;
}
.details{
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns:auto auto auto;
  gap: 40px;
  text-align: center;
}
.details h2{
  font-size: 12px;
}
.details p{
  font-size: 10px;
}
.details i{
  color: #ad30e0;
}

/*details-1*/
